
*.mdb

*.suo

*.pdb

*.cache

DataModels/bin/*
DataModels/obj/*
DataModels/OUTPUT

FilterChecker/bin/*
FilterChecker/obj/*

Microsoft.Formula/CommandLine/bin/*
Microsoft.Formula/CommandLine/obj/*

Microsoft.Formula/Core/bin/*
Microsoft.Formula/Core/obj/*


Microsoft.Formula/CsGen/bin/*
Microsoft.Formula/CsGen/obj/*

NetworkModelGenerator/bin/*
NetworkModelGenerator/obj/*
Reachability/bin/Debug/Formula.Core.dll
Reachability/bin/Debug/Formula.Core.dll
Reachability/obj/Debug/Netcow.Reachability.exe
Reachability/bin/Debug/zpf.xml
Reachability/bin/Debug/Formula.Core.dll
Reachability/bin/Debug/Formula.Core.dll
Reachability/obj/Debug/Netcow.Reachability.exe
Reachability/bin/Debug/Netcow.Reachability.exe
Reachability/bin/Debug/Netcow.Models.dll
Reachability/obj/Debug/Netcow.Reachability.exe
Reachability/bin/Debug/Formula.Core.dll
