
DataModels/bin/Debug/Netcow.Models.dll

DataModels/bin/Debug/Netcow.Models.dll.mdb

DataModels/obj/Debug/Netcow.Models.dll

DataModels/obj/Debug/Netcow.Models.dll.mdb

Microsoft.Formula/CommandLine/formula.exe
