<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="ConsoleFx" version="1.4" targetFramework="net45" />
  <package id="ConsoleUtils" version="1.5.1.0" targetFramework="net45" />
  <package id="TextUtils" version="1.0.3.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>